
input::placeholder, textarea::placeholder {
    color: var(--color-primary-darker);
    opacity: 1;
    font-family: var(--font-raleway-regular);
    font-size: medium;
}

.input-container {
    width: 100%;
    max-width: 620px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    border-radius: 8px;
}

.input, .input-multiline {
    background-color: var(--color-primary-medium);
    opacity: 60%;
    border-color: transparent;
    width: 100%;
    border-radius: 12px;
    padding: 8px
}
.input.multiline  {
    height: 83px;
    resize: none;
}

.input {
    height: 38px;
}
