
input::placeholder, textarea::placeholder {
    color: var(--primary-darker);
    font-family: var(--raleway-regular);
    padding: 12px;
}

.input-container {
    background-color: var(--primary-light);
    border: none;
    width: 520px;
    height: auto;
    border-radius: 12px;
}

.input {
    background-color: var(--white);
    opacity: 60%;
    border: none;
    height: 38px;
    width: inherit;
    border-radius: 12px;
    padding: 0%;
}

.input.multiline {
    height: 83px;
}

@media screen and (max-width: 460px) {
    .input-container {
        width: 280px;
    }
}