.recipe-list-item-container {
    display: flex;
    background-color: var(--primary-medium);
    border-radius: 8px;
    font-family: var(--raleway-regular);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 4px;
    padding-left: 4px;
    height: 42px;
    margin-top: 8px;
}