/*Elements such as buttons and inputs don not inherit 
font settings, so we have to set all their css properties manually*/

.button-green {
	background-color: var(--secondary);
	color: var(--black);
	height: 38px;
	font-family: var(--ibm-semibold);
	width: 220px;
	border-width: 0;
	border-radius: 6px;
	font-size: medium;
	margin: 2px;
	align-self: center;
	z-index: 1;
}

.button-pink {
	background-color: var(--accent);
	color: var(--white);
	height: 38px;
	font-family: var(--ibm-semibold);
	width: 220px;
	border-width: 0;
	border-radius: 6px;
	font-size: medium;
	margin: 2px;
	align-self: center;
	z-index: 1;
}
