/*Elements such as buttons and inputs don not inherit 
font settings, so we have to set all their css properties manually*/

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-family: var(--ibm-regular);
	width: 160px;
	border-width: 0;
	border-radius: 6px;
	font-size: medium;
	margin: 4px;
	align-self: center;
	z-index: 1;
}

.button.green {
	background-color: var(--secondary);
	color: var(--black);
}

.button.pink {
	background-color: var(--accent);
	color: var(--white);
}


.button.fab {
	height: 38px;
	width: 38px;
	border-radius: 50%;
}

.btn-icon {
	height: 24px;
	padding: 4px;
}

.btn-title {
	margin-left: 6px;
	margin-right: 6px;
}