.circles-column-right {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.circles-column-left {
	display: flex;
	justify-content: flex-start;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@media screen and (max-width: 460px) {
	.circles-column-left {
		display: none;
	}

	.circles-column-right {
		display: flex;
		justify-content: center;
	}
}

@keyframes bouncy {
}
