.top-bar-container {
    width: inherit;
    display: flex;
    background-color: var(--color-accent);
    color: var(--color-white);
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

.menu-left {
    padding-left: 8px;
}

.menu-right {
    padding-right: 16px;
}

.topbar-icon {
    padding: 6px;
}