.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

.home-container {
    height: inherit;
    display: flex;
    flex: 1;
    background-color: #CDE5F3;
    color: #001E34;
    flex-direction: column;
}

.home-container-content {
    z-index: 1;
    height: 100%;
    width: 50%;
    margin-left: 24px;
}


.home-header {
    font-size: 4rem;
    font-family: 'IBM Plex Serif Light', Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    text-align: left;
}

strong {
    font-family: 'IBM Plex Serif Medium', Arial, Helvetica, sans-serif;

}

.home-content {
    color: #001E34;
    font-family: 'Raleway Regular', Arial, Helvetica, sans-serif;
    font-size: x-large;
    word-wrap: break-word;
    word-wrap: break-word;
    text-align: left;

}


.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    margin: 24px;
}

@media screen and (max-width: 460px) {

    .home-container-content {
        width: inherit;
        margin: 16px;
        width: 50%;
        overflow: hidden;
    }

    .home-header {
        font-size: 2rem;
    }

    .home-content {
        font-size: large;
    }
    
    .button-row {
        align-self: center;
    }
    
}