.loading-bar-container {
    background-color: var(--primary-medium);
    border-radius: 8px;
    font-family: var(--raleway-regular);
    text-align: start;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4px;
    margin: 8px 4px 0px 4px;
}

p {
    padding: 4px 0px 8px 8px;
    margin: 0;
}

.loading-bar-wrapper {
    display: flex;
    background-color: var(--white);
    width: inherit;
    height: 12px;
    border-radius: 8px;
    margin: 0px 8px 0px 8px;
}

.loading-progress {
    display: flex;
    transition:.5s ease all;
    background-color: var(--accent);
    height: 12px;
    position: absolute;
    border-radius: 8px;
}