.footer-container {
	background-color: transparent;
	font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 0;
	padding: 16px;
	overflow: hidden;
	color: #001e34;
	display: flex;
	width: inherit;
	z-index: 1;
}

a:link {
	color: #013a60;
}

a:hover {
	color: #e40060;
}
