.footer-container {
	background-color: transparent;
	font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 0;
	padding: 6px;
	overflow: hidden;
	color: var(--primary-darker);
	display: flex;
	width: inherit;
	z-index: 4;
}

a:link {
	color: var(--primary-light);
}

a:hover {
	color: var(--accent);
}
